/* LOGO STYLES */
#MainContent_divCreditApp img {
  height: auto;
  margin: 40px 0 0;
  max-width: 251px; }

#MainContent_divCreditApp > .text-center::after {
  content: 'Credit Application';
  position: relative;
  margin: 15px 0 40px;
  text-transform: capitalize !important;
  font-weight: bold !important;
  font-size: 31px !important;
  color: #000;
  border-bottom: 0px solid transparent; }

/* PANEL STYLES */
.panel-heading {
  font-size: 18px;
  font-weight: bold;
  color: #fff !important;
  text-transform: capitalize !important;
  background-image: none !important;
  background-color: #0f3456 !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important; }

.panel {
  box-shadow: none;
  background-color: #fff;
  border-radius: 0px !important; }

.panel-default {
  border-color: #E2E2E2; }

.panel-default > .panel-heading {
  border-color: #E2E2E2; }

.panel-body {
  font: normal normal normal 15px/1.4em helvetica-w01-roman, helvetica-w02-roman, helvetica-lt-w10-roman, sans-serif; }

#MainContent_divSupportingDocs .panel-footer {
  display: none; }

.panel-footer {
  background-color: transparent !important;
  border: none; }

.panel-footer label {
  margin: 0px !important; }

/* QUESTION STYLES */
label {
  font-weight: 300;
  color: #333335;
  font-size: 13px;
  margin-bottom: 4px; }

.panel:not(#MainContent_divSupportingDocs):not(#MainContent_divTerms):not(#MainContent_divSubmit) label {
  text-transform: capitalize;
  color: #000;
  font-weight: bold;
  font-size: 13px; }

.form-control {
  border: 1px solid !important;
  border-color: #E2E2E2 !important;
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
  color: #495057;
  padding: 0.55rem;
  line-height: normal;
  font-weight: normal;
  font-size: 16px;
  height: inherit; }

.form-control:focus {
  border: 1px solid !important;
  border-color: #5c91ce !important;
  background-color: #fff;
  box-shadow: none; }

.text-danger {
  color: #fff !important; }

/* BUTTON STYLES */
.btn-success {
  background-image: -webkit-linear-gradient(top, #0d4b84 40%, #0d4b84 100%);
  background-image: linear-gradient(to bottom, #0d4b84 0%, #0d4b84 100%);
  padding: 0.5em 1.6em;
  border: 0px solid;
  border-color: transparent;
  border-radius: 0;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1em;
  color: #fff !important; }

.btn-success:hover,
.btn-success:focus {
  background-image: -webkit-linear-gradient(top, #0b3e6d 40%, #0b3e6d 100%);
  background-image: linear-gradient(#0b3e6d 40%, #0b3e6d 100%);
  box-shadow: none;
  border-color: #083156;
  color: #fff !important; }

.btn-primary {
  background-image: -webkit-linear-gradient(top, #fff 40%, #fff 100%);
  background-image: linear-gradient(to bottom, #fff 0%, #fff 100%);
  padding: 0.5em 1.6em;
  border: 1px solid;
  border-color: #E2E2E2;
  border-radius: 0;
  font-weight: normal;
  text-transform: capitalize;
  font-size: 1em;
  color: #000 !important; }

.btn-primary:hover,
.btn-primary:focus {
  background-image: -webkit-linear-gradient(top, #f2f2f2 40%, #f2f2f2 100%);
  background-image: linear-gradient(#f2f2f2 40%, #f2f2f2 100%);
  box-shadow: none;
  border-color: #E2E2E2;
  color: #000 !important; }

.btn-size-lg {
  width: inherit !important; }

.btn-size-md {
  width: auto !important; }

#MainContent_btnSubmitRequest {
  margin-top: 30px; }

/* WARNING MESSAGE STYLES */
.panel-warning > .panel-heading,
.alert-warning {
  color: #fff;
  background-color: #ff8800;
  border-color: #ff8800;
  background-image: -webkit-linear-gradient(top, #ff8800 0%, #ff8800 50%);
  background-image: linear-gradient(to bottom, #ff8800 0%, #ff8800 50%);
  margin: 0 auto !important;
  padding: 40px !important;
  border-radius: 0;
  width: 500px; }

/* GENERAL TEXT STYLES */
#MainContent_lblTerms,
#MainContent_SignatureControl_divSignatureBlock small,
#MainContent_uplSupportingDocs {
  color: #333335; }

#MainContent_lnkTerms {
  color: #45abd6;
  text-decoration: underline; }

#MainContent_lnkTerms:hover {
  text-decoration: none; }

/* RESPONSIVE STYLES */
@media only screen and (max-width: 750px) {
  #MainContent_divCreditApp img {
    width: 100%; }
  #divMainContainer .row {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    padding: 0px;
    width: 100% !important; }
  #MainContent_divCreditApp > .text-center::after {
    font-size: 4rem !important; }
  #MainContent_SignatureControl_divSignatureBlock > div:not(.SigWrapper) {
    display: flex;
    flex-direction: column; }
  #MainContent_SignatureControl_divSignatureBlock > div:not(.SigWrapper) button:first-child {
    margin-bottom: 15px; }
  #MainContent_divSubmit .text-center,
  #MainContent_divSupportingDocs .col-sm-4 {
    display: flex; }
  #MainContent_btnUploadDoc,
  #MainContent_btnSubmitRequest {
    flex-grow: 1; }
  .panel-heading {
    text-align: center; }
  #divMainContainer .col-sm-6,
  #divMainContainer .col-sm-3 {
    padding: 0 15px;
    width: 100%; }
  #MainContent_divTerms .panel-body,
  #MainContent_divSubmit .panel-body {
    padding: 15px !important; }
  .panel-body {
    padding: 15px 0px; } }

/* P&J BASE STYLE & LAYOUT OVERRIDES */
#divMainContainer {
  border: none;
  padding: 0px 15px; }

#divMainContainer .row {
  display: inline-block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 0 10px;
  padding: 0px 5px;
  width: 50%; }

#divMainContainer .col-sm-6,
#divMainContainer .col-sm-3 {
  padding: 0px;
  width: 100%; }

.text-right {
  text-align: left;
  letter-spacing: 0px; }

#divMainContainer > div:last-child {
  margin: 0px !important; }

.requiredEffects {
  position: relative;
  right: 0px;
  top: 0px;
  color: black; }

.glyphicon-star:before {
  display: none; }

.Help:after {
  content: "*";
  font-family: Verdana, Arial, Helvetica, Sans-Serif;
  margin-left: 0px;
  color: #af001f;
  font-weight: bold; }

#MainContent_divCaptcha,
#MainContent_divCaptcha > .col-sm-12 {
  padding: 0px !important; }

#divVersion {
  display: none; }

/* SUPPORTING DOCUMENTATION STYLE OVERRIDES */
#MainContent_divSupportingDocs .panel-body .NoPrint .col-sm-8 {
  width: 100% !important;
  padding: 0px; }

#MainContent_divSupportingDocs .panel-body .NoPrint .col-sm-4 {
  padding: 0px; }

#MainContent_divSupportingDocs .panel-body .NoPrint .col-sm-4 input {
  margin-top: 15px; }

#MainContent_divSupportingDocs .panel-body .row:not(.NoPrint) {
  width: 100%;
  display: flex !important;
  margin: 15px 0;
  padding: 0px; }

#MainContent_divSupportingDocs .panel-body .row:not(.NoPrint) .col-sm-8 {
  width: 100%;
  padding: 0px; }

/* END OF SUPPORTING DOCUMENTATION STYLE OVERRIDES */
#MainContent_divCaptcha div:nth-child(1) {
  margin: 0px !important; }

#MainContent_divSubmit .text-center {
  text-align: left; }

#signature-pad {
  background: #fff; }

.SigWrapper {
  margin-bottom: 15px !important; }

#MainContent_divCreditApp > .text-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#MainContent_divCreditApp > .text-center::after {
  content: 'Credit Application';
  position: relative;
  margin: 15px 0 40px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 31px; }

/* PRINT OVERRIDES */
@media print {
  #divMainContainer .row,
  .SigWrapper {
    page-break-inside: avoid; }
  #MainContent_divCreditApp img {
    width: 250px !important; }
  #MainContent_divCreditApp > .text-center::after {
    font-size: 2.5rem !important;
    margin: 0 !important; }
  .panel-default {
    margin: 0 !important;
    border-color: transparent; }
  .panel-heading {
    font-size: 20px;
    padding: 0 20px;
    color: #fff;
    background-color: #0f3456; }
  .panel:not(#MainContent_divSupportingDocs):not(#MainContent_divTerms):not(#MainContent_divSubmit) label {
    font-size: 16px !important; }
  .form-control {
    border: 1px solid !important;
    padding: 0 !important;
    font-weight: normal;
    font-size: 16px; }
  #MainContent_divCaptcha {
    display: none !important; }
  .SigWrapper {
    margin: 0px !important; }
  #MainContent_SignatureControl_divSignatureBlock small,
  #MainContent_divSupportingDocs .NoPrint,
  #MainContent_divSignatureBlock > .panel-heading,
  #MainContent_SignatureControl_divSignatureBlock > div:not(.SigWrapper) button {
    display: none !important; }
  #MainContent_divCreditApp > .text-center::after {
    color: #000 !important; }
  .panel:not(#MainContent_divSupportingDocs):not(#MainContent_divTerms):not(#MainContent_divSubmit) label {
    color: #000 !important;
    font-weight: bold;
    font-size: 13px; } }
