// Primary Button Styles
$submit-button-text-thinkness: bold;
$submit-button-text-capitalization: capitalize;
$submit-button-text-size: 1.8rem;
$submit-button-border-width: 0px;
$submit-button-border-radius: 0;
$submit-button-padding: 2rem 6rem;

// Other Button Styles
$other-button-text-thinkness: bold;
$other-button-text-capitalization: capitalize;
$other-button-text-size: $submit-button-text-size;
$other-button-border-width: 1px;
$other-button-border-radius: $submit-button-border-radius;
$other-button-padding: $submit-button-padding;