// Primary Button Styles
$submit-button-text-thinkness: normal;
$submit-button-text-capitalization: uppercase;
$submit-button-text-size: 1em;
$submit-button-border-width: 0px;
$submit-button-border-radius: 0;
$submit-button-padding: 0.5em 1.6em;

// Other Button Styles
$other-button-text-thinkness: normal;
$other-button-text-capitalization: capitalize;
$other-button-text-size: $submit-button-text-size;
$other-button-border-width: 1px;
$other-button-border-radius: $submit-button-border-radius;
$other-button-padding: $submit-button-padding;