$form-field-text-size: 16px;
$form-field-input-curve: 0;
$form-field-input-padding: 0.55rem;
$form-field-input-border-width: 1px;
$form-field-input-text-thickness: normal;

$form-field-input-border-focus-width: $form-field-input-border-width;