$form-field-text-size: 1.8rem;
$form-field-input-curve: 0;
$form-field-input-padding: 1.5rem 2rem;
$form-field-input-border-width: 2px;
$form-field-input-text-thickness: bold;

$form-field-input-border-focus-width: $form-field-input-border-width;