$top-credit-application-text-capitalization: capitalize;
$top-credit-application-text-thickness: bold;
$top-credit-application-text-size: 31px;
$top-credit-application-text-bottom-border: 0px;

$section-heading-text-capitalization: capitalize;
$section-heading-text-thinkness: bold;
$section-heading-text-size: 18px;

$question-text-capitalization: capitalize;
$question-text-thinkness: bold;
$question-text-size: 13px;