// Logo Width
$print-logo-max-width: 250px !important;

// Credit Application Title Styles
$print-top-credit-application-text-size: 2.5rem !important;
$print-top-credit-application-margin: 0 !important;

// Panel Styles
$print-panel-margin: 0 !important;

// Section Heading Styles
$print-section-heading-text-size: 20px;
$print-section-heading-padding: 0 20px;

// Question Styles
$print-question-text-size: 16px !important;

// Form Field Styles
$print-form-field-text-size: 16px;
$print-form-field-input-padding: 0 !important;
$print-form-field-input-border-width: 1px;
$print-form-field-input-text-thickness: normal;